* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #2e2e54, #1d1d3a);
    overflow: hidden;
}

.app-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: transparent;
    overflow: hidden;
    pointer-events: none;
}

.background-animation svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.search-container {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 35px;
    padding: 10px;
    width: 400px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.search-container.raise {
    border-radius: 25px 25px 0 0;
    transform: translateY(-271px);
}

.search-container input {
    padding: 12px 20px;
    width: 80%;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    font-size: 1em;
}

.search-container button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    background: #4e8ef7;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-container button:hover {
    background: #3a74d8;
}

.weather-card {
    z-index: 1;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
    padding: 0 30px 30px 30px;
    width: 400px;
    color: #fff;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

.weather-card.visible {
    opacity: 1;
    transform: scaleY(1);
}

.location-time h1 {
    font-size: 2em;
    font-weight: 700;
}

.location-time p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #ccc;
}

.weather-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    text-transform: capitalize;
}

.weather-main img {
    width: 150px;
}

.weather-main h1 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 20px;
}

.weather-main p {
    font-size: 1.2em;
    margin-top: 5px;
    color: #ccc;
}

.weather-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.detail-card {
    background: rgba(255,255,255,0.1);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.95em;
}

.hidden {
    display: none;
}

.error-messsage {
    font-size: 1em;
    position: absolute;
    top: 40px;
    color: #ff0000;
}